{{#if loggedIn}}
{{#each blogs as | blog|}}
{{> dashboard-details}}
{{/each}}
{{else}}
{{#each blogs as | blog|}}
{{> homepage-details}}
{{/each}}
{{/if}}

{{#if loggedIn}}
<section>
   <form class="form newPost-form m-2">
      <button class="btn btn-post" type="submit">New Post</button>
   </form>
   <script src="./js/dashboard.js"></script>
</section>
{{/if}}