{{#if loggedIn}}
{{#each blogs as | blog|}}
{{> dashboard-details}}
{{/each}}
<section>
   <button class="btn btn-post"><a href="/dashboard/newPost">New Post</a></button>
</section>
{{else}}
{{#each blogs as | blog|}}
{{> homepage-details}}
{{/each}}
{{/if}}