<section class="card">
  <h2 class="page-title">New Post</h2>
  <form class="form new-post-form">
    <div class="form-group">
      <label form="blog-title">Title</label>
      <input class="form-input" type="text" id="blog-title" />
    </div>
    <div class="form-group">
      <label for="blog-content">Content</label>
      <input class="form-input" type="text" id="blog-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-post" type="submit">Create</button>
      <input type="hidden" name="user" id="user" value={{user}}>
    </div>
  </form>
</section>

<script src="../js/new-post.js"></script>