<section class="card">
  <h2 class="page-title">New Comment</h2>
  <form class="form new-post-form">
    <div class="form-group">
      <label for="blog-title">Comment</label>
      <input class="form-input" type="text" id="new-comment" />
    </div>
    <div class="form-group">
      <button class="btn btn-post" type="submit">Create </button>
      <input class="form-input" type="hidden" id="blog-id" value="{{blogId}}"/>
    </div>
  </form>
</section>

<script src="../js/new-comment.js"></script>